.form {
  width: 500px;
}

.form h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.form div {
  margin-bottom: 30px;
}

.form label {
  display: block;
  margin-bottom: 15px;
}

.form input[type="text"] {
  width: 100%; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
}

.form button {
	width: 100%;
  background-color: var(--accent-color);
  color: white; 
  border: 3px solid var(--accent-color);
  padding: 22px; 
  border-radius: 20px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: 600;
  font-size: 20px;
}

.form button:hover {
  background-color: #fff; 
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
}
